/* Geral */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Flex:opsz@8..144&family=Courgette&family=Ubuntu&display=swap');

*{
    margin: 0 auto;
    font-family: 'Roboto Flex', sans-serif;
}

/* Navbar */

#menu{
    background: #1D2540;
    padding: 20px;
    border-bottom: 1px solid #D9D9D9;
}

#menu .menu-links{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu .menu-links h3 a{
    font-family: 'Bebas Neue', 'Ubuntu', sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    color: #8DBF21;
    transition: all 0.3s ease;
}

#menu .menu-links h3 a:hover{
    color: #D9D9D9;
}

#menu .menu-links ul{
    padding: 0 10px 0 10px;
    display: flex;
}

#menu .menu-links li{
    font-family: 'Ubuntu', sans-serif;
    color: #D9D9D9;
    margin-right: 30px;
    list-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#menu .menu-links li:hover{
    color: #8DBF21;
}

/* Home */

#home{
    background: #1D2540;
}

#home .home{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

#home .home .home-apresentacao{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: #D9D9D9;
}

#home .home .home-apresentacao h1{
    font-family: 'Bebas Neue', sans-serif;
    color: #8DBF21;
    text-align: center;
    font-size: 70px;
}

#home .home .home-apresentacao h5{
    font-family: 'Courgette', sans-serif;
    color: #D9D9D9;
    text-align: center;
    font-size: 25px;
}

#home .home .home-apresentacao button{
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    background: #8DBF21;
    color: #253156;
    font-weight: 600;
    border: 2px solid #D9D9D9;
    cursor: pointer;
    padding: 5%;
    transition: all 0.4s ease;
}

#home .home .home-apresentacao button:hover{
    color: #000;
}

#home .home .home-imagem img{
    display: flex;
    align-items: center;
    width: 90%;
    height: 90%;
}