/* Geral */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Flex:opsz@8..144&family=Courgette&family=Ubuntu&display=swap');

*{
    background-color: #1D2540;
    color: #D9D9D9;
    margin: 0 auto;
    font-family: 'Roboto Flex', sans-serif;
    scroll-behavior: smooth;
}

/* WhatsApp button*/

#icon-whatsapp{
    position: fixed;
    right: 30px;
    bottom: 27px;
    cursor: pointer;
}

#icon-whatsapp img{
    width: 50px;
    transition: all 0.3s ease;
}

#icon-whatsapp img:hover{
    transform: scale(1.1);
}

/* Navbar */

#menu{
    padding: 20px;
    border-bottom: 1px solid #D9D9D9;
}

#menu .menu-links{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#menu .menu-links h3 a{
    font-family: 'Bebas Neue', 'Ubuntu', sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    color: #8DBF21;
    transition: all 0.3s ease;
}

#menu .menu-links h3 a:hover{
    color: #D9D9D9;
}

#menu .menu-links ul{
    padding: 0 5px 0 5px;
    display: flex;
}

#menu .menu-links li{
    color: #D9D9D9;
    margin: 0 15px 0 15px;
    list-style: none;
    cursor: pointer;
}

#menu .menu-links li a{
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    text-decoration: none;
}

#menu .menu-links li a:hover{
    color: #8DBF21;
    transform: scale(1.05);
}

/* Home */

#home .home{
    padding: 30px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

#home .home .home-apresentacao{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: #D9D9D9;
}

#home .home .home-apresentacao h1{
    font-family: 'Bebas Neue', sans-serif;
    color: #8DBF21;
    text-align: center;
    font-size: 70px;
}

#home .home .home-apresentacao h5{
    font-family: 'Courgette', sans-serif;
    color: #D9D9D9;
    text-align: center;
    font-size: 25px;
}

#home .home .home-apresentacao button{
    display: flex;
    align-items: center;
    margin-top: 20px;
    background: #8DBF21;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    padding: 5%;
    transition: all 0.4s ease;
}

#home .home .home-apresentacao button a{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-decoration: none;
    background: none;
    color: #253156;
    font-weight: 600;
}

#home .home .home-apresentacao button:hover{
    color: #000;
    transform: scale(1.05);
}

#home .home .home-imagem {
    margin: 0;
}

#home .home .home-imagem img{
    display: flex;
    align-items: center;
    width: 90%;
    height: 90%;
}

/* About */

#about .about-title{
    text-align: center;
    margin: 30px 0 30px 0;
}

#about .about-title h3{
    font-size: 35px;
    text-decoration: #8DBF21 underline;
}


#about .about-sections{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 7% 30px 7%;
}

#about .about-sections .about-image{
    margin: 0;
}

#about .about-sections .about-image img{
    width: 320px;
    height: 320px;
    border: 2px #8DBF21 dashed;
    border-radius: 20px;
}

#about .about-sections .about-text{
    margin: 0;
}

#about .about-sections .about-text h5{
    font-size: 20px;
}

#about .about-sections .about-text span{
    color: #8DBF21;
}

#about .about-sections .about-text .about-download-cv{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    background: #8DBF21;
    color: #253156;
    font-weight: 600;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    padding: 3%;
    transition: all 0.4s ease;
}

#about .about-sections .about-text .about-download-cv:hover{
    color: #000;
    transform: scale(1.05);
}

/* Services */

#services .services-title{
    text-align: center;
    margin: 30px 0 30px 0;
}

#services .services-title h3{
    font-size: 35px;
    text-decoration: #8DBF21 underline;
}

#services .services-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 3% 30px 3%;
    gap: 50px;
    text-align: center;
}

#services .services-cards .svc-card{
    margin: 0;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #D9D9D9;
    border-radius: 20px;
    padding: 25px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#services .services-cards .svc-card:hover{
    transform: scale(1.05);
}

#services .services-cards .svc-card ion-icon, h4, p{
    background: rgba(0, 0, 0, 0.01);
}

#services .services-cards .svc-card ion-icon{
    margin-bottom: 10px;
    color: #3a5198;
    font-weight: 700;
    font-size: 45px;
}

#services .services-cards .svc-card h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    color:#8DBF21;
}

#services .services-tecnology{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 3% 30px 3%;
    gap: 50px;
    text-align: center;
} 

#services .services-tecnology .svctec-imgtitle{
    margin: 0;
}

#services .services-tecnology .svctec-imgtitle h3{
    text-decoration: #8DBF21 underline;
    font-size: 20px;
}

#services .services-tecnology .svctec-imgtitle button{
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    background: #8DBF21;
    color: #253156;
    font-weight: 600;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    padding: 3%;
    transition: all 0.4s ease;
}

#services .services-tecnology .svctec-imgtitle button a{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-decoration: none;
    background: none;
    color: #253156;
    font-weight: 600;
}

#services .services-tecnology .svctec-imgtitle button:hover{
    color: #000;
    transform: scale(1.05);
}

#services .services-tecnology .svctec-imgtitle img{
    width: 350px;
    height: 350px;
}

#services .services-tecnology .svctec-tecnologias{
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

#services .services-tecnology .svctec-tecnologias .svc-card{
    height: 80px;
    width: 100px;
    margin: 0;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #D9D9D9;
    border-radius: 20px;
    padding: 25px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#services .services-tecnology .svctec-tecnologias .svc-card:hover{
    transform: scale(1.05);
}

#services .services-tecnology .svctec-tecnologias .svc-card h4{
    background: rgba(0, 0, 0, 0.01);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    color:#8DBF21;
}

#services .services-tecnology .svctec-tecnologias .svc-card ion-icon{
    background: rgba(0, 0, 0, 0.01);
    margin-bottom: 10px;
    color: #3a5198;
    font-weight: 700;
    font-size: 40px;
}

/* Projetos */

#projetos .projetos-title{
    text-align: center;
    margin: 30px 0 30px 0;
}

#projetos .projetos-title h3{
    font-size: 35px;
    text-decoration: #8DBF21 underline;
}

#projetos .projetos-card{
    padding: 30px 3% 30px 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#projetos .projetos-list .projetos-card .projetos-img img{
    margin: none;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: 2px solid #8DBF21;
}

#projetos .projetos-list .projetos-card .projetos-details{
    padding: 15px;
}

#projetos .projetos-list .projetos-card .projetos-details h4{
    color: #8DBF21;
    font-size: 20px;
}

#projetos .projetos-list .projetos-card .projetos-details button{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    background: #8DBF21;
    color: #253156;
    font-weight: 600;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    padding: 3%;
    transition: all 0.4s ease;
}

#projetos .projetos-list .projetos-card .projetos-details button a{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-decoration: none;
    background: none;
    color: #253156;
    font-weight: 600;
}

#projetos .projetos-list .projetos-card .projetos-details button:hover{
    transform: scale(1.05);
    color: #000;
}

/* Contato */

#contato .contato-title{
    text-align: center;
    margin: 30px 0 30px 0;
}

#contato .contato-title h3{
    font-size: 35px;
    text-decoration: #8DBF21 underline;
}

#contato .contato-flex{
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 60px;
    padding: 30px 9% 30px 9%;
}

#contato .contato-flex .contato-info h4{
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

#contato .contato-flex .contato-info{
    margin: 0;
}

#contato .contato-flex .contato-info img{
    display: flex;
    align-items: center;
    width: 90%;
    height: 60%;
    margin: none;
}


#contato .contato-flex form fieldset{
    padding: 15px 60px;
    border: 2px solid #8DBF21;
    border-radius: 10px;
}

#contato .contato-flex form fieldset legend{
    background: #8DBF21;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 6px;
    color: #253156;
    font-weight: 600;
}

#contato .contato-flex form fieldset p{
    font-size: 15px;
    font-weight: 600;
}

#contato .contato-flex form fieldset input{
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 6px;
}

#contato .contato-flex form fieldset .contato-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 28px;
}

#btn-submit{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    background: green;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#btn-submit:hover{
    transform: scale(1.05);
}

#btn-reset{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    background: rgb(120, 0, 0);
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#btn-reset:hover{
    transform: scale(1.05);
}

/* Footer */

#rodape{
    border-top: 1px solid #D9D9D9;
    margin-top: 30px;
}

#rodape h3{
    text-align: center;
    margin: 10px 0;
}

#rodape h3 span{
    color: #8DBF21;
}

#rodape .social{
    text-align: center;
}

#rodape .social ion-icon{
    cursor: pointer;
    margin: 10px 20px;
    font-size: 23px;
    transition: all 0.3s ease;
}

#rodape .social ion-icon:hover{
    color: #8DBF21;
    transform: scale(1.1);
}
